@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Mono", monospace;
  background-color: #000;
  cursor: grab;
  user-select: none;
  overflow: hidden;
}

body.dragging {
  cursor: grabbing;
}

.vignette-overlay {
  background: radial-gradient(ellipse at center,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 70%,
      rgba(0, 0, 0, 0.75) 90%,
      rgba(0, 0, 0, 1) 100%);
}